# macOS
.DS_Store
._*

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# R
.Rhistory
.Rdata
.RData
.Rproj.user/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
Thumbs.db
